$html-font-size-base: 14px;
$min-app-width: 300px;

/**
 * 基础html code样式
 */
html {
  font-size: $html-font-size-base;
  font-family: 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  min-width: $min-app-width;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
 * 删除浏览器默认边距
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
 * 清除标签默认样式
 */

a {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}
