@import "@/assets/fonts/icon.css";

:root {
  --root-font-size: 16px;
  --theme-color: #d43d34;
  --header-height: 100px;
  --header-height-detail: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--root-font-size);
}

html,
body,
#page_community {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  background-color: #eee;
  max-width: 1280px;
  min-width: 224px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}