.listWrapper {
  width: 100%;
  height: 100%;
  :global(.adm-pull-to-refresh),
  :global(.adm-pull-to-refresh-content) {
    width: 100%;
    height: 100%;
  }
}

.hasMore {
  color: $primary-color;
}

.renderText {
  color: $primary-color;
}
