@use '../../styles//vars/index.scss' as globVars;

.taskInput {
  background-color: transparent;
  border: none;
  color: globVars.$text-primary-color;
  flex: 1 1;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  @include globVars.text-base;
  caret-color: transparent;
  &:focus {
    caret-color: initial;
  }

  margin-left: 10px;
}

.iconWrapper {
  display: inline-flex;
  .plusIcon {
    width: 20px;
    height: 20px;
  }
}
